.app__table {
  width: 100%;
}

.app__inputWrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.app__inputWrapper select {
  height: 35px;
  width: 100%;
  margin-right: 2.5vw;
  padding-left: 15px;
  border-radius: 4px;
  font-weight: 700;
}
.app__inputWrapper button {
  height: 35px;
  background-color: #04395c;
  color: white;
  width: 100%;
  border-radius: 4px;
  font-family: Segoe UI;
  font-weight: bold;
}

.googleMapWrapper {
  margin-bottom: 20px;
}

.tableCSS .ant-table-thead tr th {
  background-color: #04395c !important;
  color: white;
  font-weight: 900;
}
